*{
    margin: 0;
    padding: 0;
}

video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    pointer-events: none; 
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.head, .story1, .story2, .story3, .story4, .story5, .story6 {
    width: 100%;
    height: 100vh; /* 让所有元素填满屏幕 */
    display: flex;
    justify-content: center;
    align-items: center;
}

video, img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 确保填充整个区域 */
}
