@import url();

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


/* Text
-------------------------------------------------- */



/* Image
-------------------------------------------------- */



/* iPad 
-------------------------------------------------- */
@media only screen and (min-width : 600px) and (max-width : 1024px) {

  /* text */
  .i{
   width: 610px;
   height: 610px;
   
   background-image:url('img2.jpg');
   background-position: center;
  }

  /* image */

}

/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 600px) {

  /* text */
  .i{
    width: 400px;
    height: 400px;
    background-image:url('img1.jpg');
    background-position: center;
   }
  /* image */

}


/* Orientation
-------------------------------------------------- */

@media (orientation: landscape) {

  /* text */
  .i {
    width: 900px;
    height: 900px;
    background-image:url( 'img3.jpg');
    background-position: center;
   }
  /* image */

}


