@import url();

body {


/* Text
-------------------------------------------------- */



/* Image
-------------------------------------------------- */



/* iPad 
-------------------------------------------------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {

  /* text */
  .img{
   width: 700px;
   height: 700px;
   background-image:url('https://github.com/YulanZhang00/Interactive-2025/blob/main/Exercises/Exercise-08/img1.jpg');
   background-position: center;
  }

  /* image */

}

/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 768px) {

  /* text */
  .img{
    width: 700px;
    height: 700px;
    background-image:url('https://github.com/YulanZhang00/Interactive-2025/blob/main/Exercises/Exercise-08/img1.jpg');
    background-position: center;
   }
  /* image */

}


/* Orientation
-------------------------------------------------- */

@media (orientation: landscape) {

  /* text */
  .img{
    width: 700px;
    height: 700px;
    background-image:url('https://github.com/YulanZhang00/Interactive-2025/blob/main/Exercises/Exercise-08/img1.jpg');
    background-position: center;
   }
  /* image */

}


}
